[defaults]
# Wskazuje, gdzie leży lista Twoich serwerów (Ubuntu). 
# Dzięki temu nie musisz już dopisywać '-i inventory/hosts.ini' w komendach.
inventory = inventory/hosts.ini

# Ścieżka do pliku z hasłem do Vaulta. 
# Pozwala Ansible samemu odszyfrować sekrety bez pytania Cię o hasło przy każdym starcie.
vault_password_file = ~/.ansible_vault_pass

# Wskazuje konkretny klucz SSH do logowania na Ubuntu.
# To kluczowe dla Crona, który działa w tle i nie ma dostępu do Twojej sesji SSH.
private_key_file = /home/Mariusz/.ssh/id_rsa

# Wyłącza czerwone ostrzeżenia o wersjach kolekcji (np. docker), 
# które zaśmiecały nam terminal.
action_warnings = False

# Wyłącza ostrzeżenia dotyczące łączenia się z 'localhost'.
localhost_warning = False

# Wyłącza ostrzeżenia o funkcjach, które w przyszłych wersjach Ansible zostaną usunięte.
deprecation_warnings = False

# Sprawia, że wynik w terminalu wygląda jak ładna lista (YAML), 
# a nie jeden długi i nieczytelny ciąg tekstu.
stdout_callback = yaml

# Wyłącza irytujące pytanie o "known_hosts" przy pierwszym łączeniu
host_key_checking = False

# Skraca czas logowania, jeśli używasz wielu zadań
pipelining = True

# Gdzie Ansible ma szukać ról, jeśli zaczniesz ich używać
roles_path = ./roles
